<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IRONTEC</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet"> 
 
</head>
<body>
    <header class="site-header inicio">
        <!--para tener el contenido agrupau-->
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="/">
                    <img src="assets/foto/logo.png" alt="Logotipo dE IRONTEC">
                </a>    
                <nav class="navegacion">
                    <a routerLink="nosotros" >{{ infoPaginaService.info.nosotros }}</a>
                    <a routerLink="anuncios">Anuncios</a>
                    <a routerLink="blog">Blog</a>
                    <a routerLink="contacto">Contacto</a>
                </nav>
            </div>
            <h1>Las mejores soluciones tecnológicas para tu empresa</h1>
        </div>

    </header>

    <section class="contenedor seccion">
        <h2 class="fw-300 centrar-texto">Más sobre nosotros</h2>


    
    <div class="iconos-nosotros"> 
        <div class="icono">
            <img src="assets/foto/índice.png" alt="Icono Web">
            <h3 class="encabezadoSec mayus">Desarrollo Web</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem tenetur nostrum voluptatibus fuga ipsum voluptate dolorum rem ipsam aut saepe, vitae debitis doloremque hic, sit laborum corrupti! Sunt, ratione perspiciatis.</p>
        </div> 
        <div class="icono">
            <img src="assets/foto/infra.png" alt="Infra">
            
            <h3>Infrastructuras</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt esse pariatur sit voluptas tenetur similique nostrum, fuga repellendus consectetur suscipit temporibus id, animi magni. Doloribus incidunt ullam eos ea nemo.</p>
        </div>
        <div class="icono">
            <img src="assets/foto/tlf.png" alt="Icono tiempo">
            <h3>VoIP</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur culpa fugiat debitis excepturi, recusandae, iste sit doloribus vero deserunt hic dignissimos voluptates nisi ducimus! Deleniti debitis ea minima deserunt? Reiciendis.</p>
        </div>
    </div>


    </section>
    <main class="seccion contenedor">
        <h2 class="fw-300 centrar-texto"><b>Casos de éxito</b></h2>

        <div class="contenedor-anuncios"> 
            <div class="anuncio"> 
                <img src="assets/foto/gw.jpg" alt="Anuncio casa de lago">
                <div class="contenido-anuncio">
                    <h3> Gateway IoT Industrial</h3>
                    <p>Irontec desarrolla un Gateway IoT Industrial de bajo coste para la recolección de datos</p>
                    <p class="precio">$ 3.000.000 </p>
                  
                    <a href="https://www.irontec.com/proyectos/irontec-desarrolla-gateway-iot-industrial-bajo-coste-recoleccion-transmision-datos" class="boton boton-amarillo d-block">Ver contenido</a>
                </div>
            </div>

            <div class="anuncio"> 
                <img src="assets/foto/td.jpg" alt="Anuncio casa">
                <div class="contenido-anuncio">
                    <h3> Transformación Digital</h3>
                    <p>Irontec genera la trasnformación digital de la empresa Ausolan, empresa lider en XX </p>
                    <p class="precio">$ 2.000.000 </p>
                    
                    <a href="https://www.irontec.com/proyectos/irontec-lidera-la-transformacion-digital-de-ausolan" class="boton boton-amarillo d-block">Ver contenido</a>
                </div>
            </div>  

            <div class="anuncio"> 
                <img src="assets/foto/bbk.jpg" alt="">
                <div class="contenido-anuncio">
                    <h3> Página web BBK Live</h3>
                    <p>Irontec crea la página web para BBK Live, proyecto a la altura de un festival con sold-out</p>
                    <p class="precio">$ 3.000.000 </p>
                    
                    <a href="https://www.irontec.com/proyectos/desarrollo-alojamiento-web-festival-bilbao-bbk-live" class="boton boton-amarillo d-block">Ver contenido</a>
                </div>
          </div>
        </div>
   

    <div class="ver-todas">
        <a href="anuncios.html" class="boton boton-verde">Contenido GitHub</a>
    </div>
</main>
  

  
 

</body>
</html>